<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>{%block title%}500 Server Error{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {%block header%}<h1 class="error-header">500</h1>{%endblock%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {%block content%}
        <div class="error-area">
            <div class="error-item">
                <p>エラーが発生しました</p>
            </div>
            <div class="error-item">
                <p>サーバー側で問題が発生しました</p>
                <p>お手数ですがTOPからやり直してください</p>
            </div>
            <div class="error-item">
                <a href="{{url_for('index')}}">TOPへ戻る</a>
            </div>
        </div>
    {%endblock%}
</body>
</html>