{%extends "base.html"%}
{% block title %}
収支管理 | {{ "登録" if not row else "修正" }}
{% endblock %}
{%block header%}
<h1>収支{{ "登録" if not row else "修正" }}</h1>
{%endblock%}
{% block content %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.date.label }}
        {{ form.date() }}
        {% for error in form.date.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.title.label }}
        {{ form.title() }}
        {% for error in form.title.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.category_id.label }}
        {{ form.category_id() }}
        {% for error in form.category_id.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.place_id.label }}
        {{ form.place_id() }}
        {% for error in form.place_id.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.investment.label }}
        {{ form.investment(step='1000') }}
        {% for error in form.investment.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.payout.label }}
        {{ form.payout(step='1000') }}
        {% for error in form.payout.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.memo.label }}
        {{ form.memo() }}
        {% for error in form.memo.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.submit(value="登録" if not row else "修正") }}
    </div>
</form>
{% endblock %}
{%block footer%}
<a href="{{url_for('show_records')}}">一覧へ</a>
<br>
<a href="{{url_for('index')}}">TOP画面へ</a>
{%endblock%}