{%extends "base.html"%}
{% block title %}
収支管理 | {{ "登録" if not row else "修正" }}
{% endblock %}
{%block header%}
<h1>収支{{ "登録" if not row else "修正" }}</h1>
{%endblock%}
{%block content%}
<form method="post">
    <input type="date" name="date" value="{{ row.date if row else '' }}">
    <input type="text" name="title" value="{{ row.title if row else '' }}">
    <select name="category_id">
        {% for category in categories %}
            <option value="{{ category.id }}" {% if row and row.category_id == category.id %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>
    <select name="place_id">
        {% for place in places %}
            <option value="{{ place.id }}" {% if row and row.place_id == place.id %}selected{% endif %}>
                {{ place.name }}
            </option>
        {% endfor %}
    </select>
    <input type="number" step="10" name="investment" value="{{ row.investment if row else '' }}">
    <input type="number" step="10" name="payout" value="{{ row.payout if row else '' }}">
    <textarea name="memo">{{ row.memo if row else '' }}</textarea>
    <button type="submit">
        {{ "登録" if not row else "修正" }}
    </button>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</form>
{%endblock%}
{%block footer%}
<a href="{{url_for('show_records')}}">一覧へ</a>
<br>
<a href="{{url_for('index')}}">TOP画面へ</a>
{%endblock%}