{%extends "base.html"%}
{%block title%}収支管理 | 収支一覧{%endblock%}
{%block header%}<h1>収支一覧</h1>{%endblock%}
{%block content%}
<div class="table-container">
    <div class="search-area">
        <h3>検索・並び替え</h3>
        <form action="{{ url_for('show_records') }}" method="get" class="search-form">
            <div class="search-item">
                <label for="sort">並び順</label>
                <select name="sort" id="sort">
                    <option value="date_desc" {% if sort == 'date_desc' %}selected{% endif %}>日付：新しい順</option>
                    <option value="date_asc" {% if sort == 'date_asc' %}selected{% endif %}>日付：古い順</option>
                    <option value="profit_desc" {% if sort == 'profit_desc' %}selected{% endif %}>収支：大きい順</option>
                    <option value="profit_asc" {% if sort == 'profit_asc' %}selected{% endif %}>収支：小さい順</option>
                    <option value="investment_desc" {% if sort == 'investment_desc' %}selected{% endif %}>投資：大きい順</option>
                    <option value="investment_asc" {% if sort == 'investment_asc' %}selected{% endif %}>投資：小さい順</option>
                    <option value="recovery_desc" {% if sort == 'recovery_desc' %}selected{% endif %}>回収率：高い順</option>
                    <option value="recovery_asc" {% if sort == 'recovery_asc' %}selected{% endif %}>回収率：低い順</option>
                </select>
            </div>
            <div class="search-item">
                <label>名前検索</label>
                <input type="search" name="title_keyword" placeholder="キーワードを入力" value="{{title_keyword}}">
            </div>
            <div class="search-item">
                <label>カテゴリ</label>
                <select name="category_id" id="category_id">
                    <option value="">すべて</option>
                    {%for category in categories%}
                    <option value="{{category.id}}" {%if category_id == category.id|string%}selected{% endif %}>{{category.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="search-item">
                <label>場所</label>
                <select name="place_id" id="place_id">
                    <option value="">すべて</option>
                    {% for place in places %}
                        <option value="{{ place.id }}"
                            {% if place_id == place.id|string %}selected{% endif %}>
                            {{ place.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-item">
                <label>期間(from-to)</label>
                <input type="date" name="date_from" placeholder="yyyy/mm/dd" value="{{date_from}}">
                <input type="date" name="date_to" placeholder="yyyy/mm/dd" value="{{date_to}}">
            </div>
            <div class="search-item">
                <label>メモ検索</label>
                <input type="search" name="memo_keyword" placeholder="キーワードを入力" value="{{memo_keyword}}">
            </div>
            <div class="search-button">
                <button type="submit">検索・並び替え</button>
            </div>
        </form>
    </div>
    <div class="table-area">
        <form action="/records/add" method="get" class="add-button">
            <button type="submit">収支を登録する</button>
        </form>
        <table border="1">
            <thead>
                <tr><th>日付</th><th>名前</th><th>カテゴリ</th><th>場所</th>
                    <th>投資</th><th>回収</th><th>収支</th><th>回収率</th><th>メモ</th></tr>
            </thead>
            <tbody>
                {%for record in records%}
                <tr>
                    <td>{{record.date}}</td><td>{{record.title}}</td>
                    <td>{{record.category.name}}</td><td>{{record.place.name}}</td><td>{{record.investment}}</td>
                    <td>{{record.payout}}</td>
                    <td class="{% if record.profit > 0 %}positive{% elif record.profit == 0 %}even{% else %}negative{% endif %}">
                        {{ record.profit }}
                    </td>
                    <td class="{% if record.recovery > 100 %}positive{% elif record.recovery == 100 %}even{% else %}negative{% endif %}">
                        {{ record.recovery }}
                    </td>
                    <td>{{record.memo}}</td>
                    <td>
                        <form action="{{ url_for('record_form', id=record.id) }}"
                            method="get"
                            style="display:inline;">
                            <button class="update" type="submit">修正</button>
                        </form>
                        <form action="{{ url_for('record_delete', id=record.id) }}" method="post" style="display:inline;">
                            <button class="delete" onclick="return confirm('削除しますか？')">削除</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}
{%block breadcrumb%}
    <a href="{{ url_for('index') }}">TOP</a> &gt; 収支一覧
{%endblock%}
