{% extends "base.html"%}
{% block title %}占い{% endblock %}
{% block header %}<h1>占い</h1>{% endblock %}
{% block content %}
<div class="uranai">
    <h2>今日の運勢は・・・</h2>
    <div class="uranai-animation">
        <span>✨🐟🐟🐟✨</span>
        <span>✨🐟✨</span>
        <span>🐟</span>
        <span>🪼</span>
        <span>🫧</span>
    </div>
    <div class="uranai-final">
        <p>{{ name }}</p>
        <div class="uranai-icon">{{ icon }}</div>
        <form action="/uranai" method="get">
            <button type="submit">もう一度占う</button>
        </form>
    </div>
</div>
{%endblock%}