{%extends "base.html"%}
{%block title%}収支分析 | 生涯収支{%endblock%}
{%block header%}<h1>生涯収支</h1>{%endblock%}
{%block content%}
<form action="{{ url_for('analysis_lifetime') }}" method="get">
    <label>期間(from-to)：</label>
    <input type="date" name="date_from" placeholder="yyyy/mm/dd" value="{{date_from}}">
    <input type="date" name="date_to" placeholder="yyyy/mm/dd" value="{{date_to}}">
    <button type="submit">絞り込み</button>
</form>
<div class="analysis-container">
    <div class="summary-table">
        <table border="1">
            <thead>
                <tr><th>回数</th><th>勝数</th><th>負数</th><th>引分</th><th>勝率</th><th>投資</th><th>回収</th><th>収支</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{summary.count}}</td><td>{{summary.win}}</td><td>{{summary.lose}}</td><td>{{summary.even}}</td><td>{{summary.win_rate}}</td>
                    <td>{{summary.investment}}</td><td>{{summary.payout}}</td>
                    <td class="{% if summary.profit > 0 %}positive{% elif summary.profit == 0 %}even{% else %}negative{% endif %}">
                        {{ summary.profit }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="summary-graph">
        {{graph|safe}}
    </div>
</div>
{%endblock%}
{%block breadcrumb%}
    <a href="{{url_for('index')}}">TOP</a> &gt;<a href="{{url_for('record_analyze')}}">収支分析</a> &gt;生涯収支
{%endblock%}
{%block footer%}
<a href="{{url_for('record_analyze')}}">収支分析に戻る</a>
<br>
<a href="{{url_for('index')}}">TOP画面へ</a>
{%endblock%}