{%extends "base.html"%}
{%block title%}収支分析 | 年別{%endblock%}
{%block header%}<h1>年別収支</h1>{%endblock%}
{%block content%}
<table border="1">
    <thead>
        <tr><th>年</th><th>回数</th><th>勝数</th><th>負数</th><th>引分</th><th>勝率</th><th>投資</th><th>回収</th><th>収支</th></tr>
    </thead>
    <tbody>
        {%for row in summary%}
        <tr>
            <td>{{row.year}}</td>
            <td>{{row.count}}</td><td>{{row.win}}</td><td>{{row.lose}}</td><td>{{row.even}}</td><td>{{row.win_rate}}</td>
            <td>{{row.investment}}</td><td>{{row.payout}}</td><td>{{row.profit}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}
{%block footer%}
<a href="{{url_for('record_analyze')}}">収支分析に戻る</a>
<br>
<a href="{{url_for('index')}}">TOP画面へ</a>
{%endblock%}