<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>{%block title%}ユーザー認証{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {%block header%}<h1>収支管理アプリへようこそ</h1>{%endblock%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {%block content%}
    <div class="auth-menu">
        <div class="auth-item">
            <a href="{{ url_for('register') }}">新規登録</a>
        </div>
        <div class="auth-item">
            <a href="{{ url_for('login') }}">ログイン</a>
        </div>
    </div>
    {%endblock%}
    <br>
    <div class="bottom-area">
        {%block footer%}
        <footer class="footer">
            <div class="footer-header">
                <a href="{{ url_for('index') }}" class="footer-logo">収支管理アプリ</a>
                <p class="footer-description">パチンコ・パチスロや競馬など各種ギャンブルの収支を記録・分析するためのアプリです。</p>
            </div>
            <p class="copyright">Copyright &copy; 2026 収支管理アプリ All Rights Reserved.</p>
        </footer>
        {%endblock%}
    </div>
</body>
</html>