{%extends "base.html"%}
{%block title%}トップ{%endblock%}
{%block header%}<h1><center>収支管理アプリ</center></h1>{%endblock%}
{%block content%}
    <big><center>生涯収支</center></big>
    <big><center>{{total}}</center></big>
    <big><center>勝率</center></big>
    <big><center>{{win}}%</center></big>
    <a href="{{url_for('show_records')}}">収支を見る</a>
    <br>
    <a href="{{url_for('record_form')}}">収支登録</a>
    <br>
    <a href="{{url_for('place_master')}}">店舗・開催場管理</a>
    <br>
    <a href="{{url_for('category_master')}}">カテゴリ管理</a>
{%endblock%}
{%block footer%}{%endblock%}