{%extends "auth.html"%}
{%block title%}ユーザー認証 | 新規登録{%endblock%}
{%block header%}<h1>新規登録</h1>{%endblock%}
{%block content%}
<div class="add-area">
    <form method="post" novalidate class="add-form">
        {{ form.hidden_tag() }}
        <div class="add-item">
            <div class="label-area">
                {{ form.name.label }}
                <span class="required">必須</span>
            </div>
            {{ form.name() }}
            {% for error in form.name.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="add-item">
            <div class="label-area">
                {{ form.password.label }}
                <span class="required">必須</span>
            </div>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="add-button">
            {{ form.submit(value="登録") }}
        </div>
    </form>
</div>
{%endblock%}