{%extends "base.html"%}
{%block title%}収支管理 | 場所一覧{%endblock%}
{%block header%}<h1>店舗・開催場一覧</h1>{%endblock%}
{%block content%}
<div class="table-container">
    <div class="search-area">
        <h3>検索</h3>
        <form action="{{ url_for('place_master') }}" method="get" class="search-form">
            <div class="search-item">
                <label>名前検索</label>
                <input type="search" name="keyword" placeholder="キーワードを入力" value="{{keyword}}">
            </div>
            <div class="search-item">
                <label>カテゴリ</label>
                <select name="category_id" id="category_id">
                    <option value="">すべて</option>
                    {%for category in categories%}
                    <option value="{{category.id}}" {%if category_id == category.id|string%}selected{% endif %}>{{category.name}}</option>
                {%endfor%}
                </select>
            </div>
            <div class="search-button">
                <button type="submit">検索</button>
            </div>
        </form>
    </div>
    <div class="table-area">
        <div class="add-button">
            <form action="/places/add" method="get">
                <button type="submit">場所を登録する</button>
            </form>
        </div>
        <table border="1">
            <thead>
                <tr><th>ID</th><th>名前</th><th>カテゴリ</th></tr>
            </thead>
            <tbody>
                {%for place in places%}
                <tr>
                    <td>{{place.id}}</td><td>{{place.name}}</td><td>{{place.category.name}}</td>
                    <td>
                        {% if place.id != 1 %}
                            <form action="{{ url_for('place_form', id=place.id) }}"
                                method="get"
                                style="display:inline;">
                                <button type="submit" class="update">修正</button>
                            </form>
                            <form action="{{ url_for('place_delete', id=place.id) }}" method="post" style="display:inline;">
                                <button onclick="return confirm('削除しますか？')" class="delete">削除</button>
                            </form>
                        {%endif%}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}
{%block breadcrumb%}
    <a href="{{ url_for('index') }}">TOP</a> &gt; 店舗・開催場管理
{%endblock%}